asyncpg 
aiohttp
psycopg2-binary
sqlmodel
databases[postgresql]
fastapi
uvicorn
SQLAlchemy
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pytest
requests
coverage
jinja2
email-validator
alembic
celery
flower
pika
fastapi_permissions
tk 
# aiomqp